---
---

@import "{{ site.theme }}";

$spacing-unit:     30px !default;

.inner {
  width: 800px;
  margin: 0 auto;
}

header {
  padding-top: 12px;
  padding-bottom: 0px;
}

ul {
  padding-left: 20px;
}

ol {
  padding-left: 20px;
}

ul li {
  padding-left: 0;
}

.site-title {
  font-size: 24px;
  color: #6d6d6d;
  float: left;
}

.social-media-list {
  padding-left: 10px;
  padding-right: 10px;

  a {
    color: #303030;
    padding-left: 6px;
    padding-right: 6px;
  }
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
}

.page-link {
  a {
    color: #303030;
  }
  float: right;
}

header {
  a {
    color: unset;
    &:hover {
      color: unset !important;
    }
  }

  .wrapper {
    line-height: 36px;
    align: baseline;
  }

  .wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}

hr {
  margin-top: 10px;
}

.post-list {
  padding-left: 0;
  margin-left: 0;

  > li {
    margin-bottom: $spacing-unit;
    list-style: none;
  }
}
